
 header{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #95a5a6;
	color: #2c3e50;
 }
 
 nav span{
	margin-left: 20px;
 }
 
 .logo{
	width: 100px;
 }

 .btns button{
	border: none;
	background-color: #2c3e50;
	color: #95a5a6;
	padding: 10px;
	cursor: pointer;
	transition: box-shadow 0.5s ease;
 }
 .fa-brands{
	font-size: 3 rem;
 }
 
 body {
	background-color: #6f9e80;
	margin: 0;
	font-family: sans-serif;
 }
 
 .map{
	height: 200px;
	padding: 20px;
	background-image: url('/static/sber/task_8/map.jpeg');
	background-position: bottom;
	background-size: 20% 100%;
	margin-bottom: 100px;
	display: flex;
 }
 
 .mario{
	width: 50px;
 }
 .map_1{
	align-items: center;
	justify-content: space-between;
 }
 .map_2{
	justify-content: space-between;
 }
 .map_3{
	flex-direction: column;
	align-items: center;
 }
 section.pic{
	background-color: #6f9e80;
}
.mycode{
	height: 100vh;
	background-color: linear-gradient(to left bottom, rgb(241, 128, 86), silver 90%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
background-color: blueviolet;
width: 85.6mm;
height: 53.98mm;
border-radius: 3.18mm;
color: #fff;
padding: 6mm;
box-sizing: border-box;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 6mm;
grid-template-rows: repeat(3, 1fr);
}
select, input {
	outline: none;
	background-color: transparent;
	border: 1px solid;
	color: inherit;
	width: 100%;
	padding-left: 3px;
	box-sizing: border-box;

}
.card>[type="number"]{
	grid-row-start: 2;
}
select{
	grid-column-end:span 2;
}
[type="text"]{
	grid-row-start: 3;
	grid-column-end: span 2;
}
.card__date{
	grid-row-start: 3;
	display: flex;
	height: 100%;
	align-items: stretch;
	justify-content: flex-end;
	grid-column-end: span 2;
	gap: 6px;
}
::placeholder{
	color: coral;
}